<body>
  <div class="container">
    <div class="row">
      <div>
        <h3>{{titlePage}}</h3>
      </div>
      <div><button mat-raised-button color="primary" routerLink="/user"> Add data</button></div>
    </div>
    <table class="table-foods">
      <thead>
        <tr>
          <th *ngFor="let col of columnTable">
            {{col}}
          </th>
        </tr>
      </thead>
      <tbody>
        <app-user-card [users]="users"> </app-user-card>
      </tbody>
    </table>
  </div>
</body>
